.aboutMe{
    margin-top: 50px;
    margin-bottom: 30px;
}
.flexbox{
   margin: 40px;
}
.imgDimension{
    height: 280px;
    width: 450px;
    /* padding: 10px; */
    border-radius: 0px;
    margin-left: 4%;
    margin-top: 5%;
}
.lowerpara{
    color: #848884;
    text-align: end;
}
.lowerpara2{
    text-align: end;
    color:#36454F
}