.text{
    text-align: right;
}
.bottomBorder{
    /* border: none; */
    
    border:none;
    outline: none;
    border-bottom: 1px solid #000000 ;
    border-radius: 0%;
    /* outline: none; */
}
.iconStyling{
    text-align: center;
}
.contact{
    padding-top:7% ;
    padding-bottom: 8%;
    background-color: aqua;
}