body {
  overflow-x: hidden;
}
.left-section {
    
    background-color: #FFDB58; 
  }
  
  
  .row-section{
    background-color:  #FFDB58;
   
  }
  .tagline{
    padding-top: 8%;
    text-align: right;
    font-size: xx-large;
    color: #16161d;

  }

  /* Mobile */
  @media (max-width: 599px) {
    .container {
      padding: 10px;
    }
  }

/* Tablet */
@media (min-width:600px) {
    .container {
        padding: 20px;
    }
}

/* Desktop */
@media (min-width:900px) {
    .container {
        padding: 64px;
    }
}

.typewriter{
    font-family: cursive;
    font-weight: bolder;
    font-size:  70px;
    text-align: right;
    border: 2px;
    margin-top: 6%;
    background-color: blue;
    color: #16161d;
   
}