.resume {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}


.resume h1 {
  font-size: 2em;
}

.resume h2 {
  font-size: 1.5em;
}

.resume section {
  margin-bottom: 2em;
}

.resume section h3 {
  font-size: 1.2em;
}

.resume ul {
  list-style-type: none;
  padding: 0;
}

.resume li {
  margin-bottom: 1em;
}

.resume h4 {
  font-size: 1em;
}

.resume h5 {
  font-size: 0.8em;
}

.resume p {
  font-size: 0.8em;
}


@media (max-width: 576px) {
  .resume {
    width: 100%;
  }
}
